.poll-show-wrapper {
  margin-bottom: $base-spacing * 2;
}

.poll-show-question {
  letter-spacing: .5px;

  @include media($small-viewport) {
    font-size: 1.125em;
  }

  @include media($medium-viewport-up) {
    font-size: 1.5em;
  }
}

