.footer-wrapper {
  background-color: $mine-shaft;
}

.footer-content-wrapper {
  padding-bottom: $base-spacing;

  @include media($small-viewport) {
    padding-top: $base-spacing;
  }
  @include media($medium-viewport-up) {
    padding-top: $base-spacing * 2;
    margin-bottom: $base-spacing;
  }
}

.footer-content {
  @include display(flex);
  @include align-items(center);
  @include justify-content(space-between);
}

.footer-content .new-poll-link {
  border: 1px dashed $wild-sand;
  color: $wild-sand;

  &:hover {
    border: 1px dashed $white;
    color: $white;
  }
}

.footer-title {
  @include av-logo;
  color: $white;

  @include media($small-viewport) {
    @include av-logo(45px);
  }
}

.footer-links-wrapper {
  background-color: darken($mine-shaft, 3);
  padding: 4px 0;
}

.footer-links {
  @extend %dot-separated-inline-list;
  @include display(flex);
  @include justify-content(center);
  padding: 0 14px;


  a {
    color: $white;
    font-size: .8125em;

    @include media($small-viewport) {
      font-size: .75em;
    }

    &:hover {
      color: darken($white, 10);
    }
  }

}
