.poll-share-wrapper {
  background-color: $base-accent-color;
  text-align: center;

  @include media($small-viewport) {
    padding: $base-spacing 0;
  }

  @include media($medium-viewport-up) {
    padding: $base-spacing * 2 0;
  }
}

.poll-share-content {
  @include display(flex);
  @include align-items(center);
  @include flex-direction(column);
}

.poll-share-title {
  color: $white;
  font-family: $varela-round;
  font-weight: 600;
  margin-bottom: 1em;
  text-transform: uppercase;

  @include media($small-viewport) {
    font-size: 1.25em;
    letter-spacing: inherit;
  }
  @include media($medium-viewport-up) {
    font-size: 1.5em;
    letter-spacing: 2px;
  }
}

.poll-share-url {
  @include display(flex);
  @include align-items(center);
  background-color: $white;
  box-shadow: $base-box-shadow;
  margin-bottom: .625em;
  overflow: auto;

  @include media($small-viewport) {
    @include word-wrap;
    font-size: .8125em;
  }

  i {
    background-color: lighten($base-accent-color, 10);
    font-size: 20px;
    padding: .625em;
  }

  p {
    display: inline;
    padding: 0 8px;
  }
}

.poll-share-hint {
  font-size: .8125em;
}
