.poll-result-wrapper {
  margin-bottom: $base-spacing * 2;
}

.poll-result-content {
  background-color: $white;
  margin-bottom: $base-spacing;

  @include media($small-viewport) {
    padding: 6px 14px;
  }

  @include media($medium-viewport-up) {
    padding: 2em;
  }
}

.poll-result-question {
  font-size: 1.5em;
  line-height: 1.5em;
}

